body{
  font-family: $primary_font;
  color: $primary_color;
  font-size: 13px;
}

.flex{
  display: flex;
}


.flex-center{
  @include flex-center;
}


.txt-uppercase{
  text-transform: uppercase;
}

.txt-capitalize{
  text-transform: capitalize;
}

.mt-15{
  margin-top: 1.5em;
}

.mt-2{
  margin-top: 2em;
}
