// GRID-SYSTEM VARIABLES
$breakpoints: default, md, sm, xs;

// $grid-breakpoints: (
//   lg: 1199px,
//   md: 991px,
//   sm: 767px,
//   xs: 575px
// )

$grid-breakpoints-md: 1199px;
$grid-breakpoints-sm: 991px;
$grid-breakpoints-xs: 767px;
// $grid-breakpoints-xs: 575px;


// OTHERS
$primary_font: 'Noto Sans', sans-serif;

$primary_color: #5f6368;
