@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 79%;
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin: 0 -15px;
}

[class*=col-] {
  float: left;
  padding: 0 15px;
}

.float-right {
  float: right;
  padding: 0 15px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media all and (max-width: 1199px) {
  .container {
    max-width: 970px;
  }
}
@media all and (max-width: 991px) {
  .container {
    width: 95%;
  }
}
@media all and (max-width: 767px) {
  .container {
    max-width: 90%;
  }
}
a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.col-lg-1 {
  width: calc(100% / 12 * 1);
}

.col-lg-offset-1 {
  margin-left: calc(100% / 12 * 1);
}

.col-lg-2 {
  width: calc(100% / 12 * 2);
}

.col-lg-offset-2 {
  margin-left: calc(100% / 12 * 2);
}

.col-lg-3 {
  width: calc(100% / 12 * 3);
}

.col-lg-offset-3 {
  margin-left: calc(100% / 12 * 3);
}

.col-lg-4 {
  width: calc(100% / 12 * 4);
}

.col-lg-offset-4 {
  margin-left: calc(100% / 12 * 4);
}

.col-lg-5 {
  width: calc(100% / 12 * 5);
}

.col-lg-offset-5 {
  margin-left: calc(100% / 12 * 5);
}

.col-lg-6 {
  width: calc(100% / 12 * 6);
}

.col-lg-offset-6 {
  margin-left: calc(100% / 12 * 6);
}

.col-lg-7 {
  width: calc(100% / 12 * 7);
}

.col-lg-offset-7 {
  margin-left: calc(100% / 12 * 7);
}

.col-lg-8 {
  width: calc(100% / 12 * 8);
}

.col-lg-offset-8 {
  margin-left: calc(100% / 12 * 8);
}

.col-lg-9 {
  width: calc(100% / 12 * 9);
}

.col-lg-offset-9 {
  margin-left: calc(100% / 12 * 9);
}

.col-lg-10 {
  width: calc(100% / 12 * 10);
}

.col-lg-offset-10 {
  margin-left: calc(100% / 12 * 10);
}

.col-lg-11 {
  width: calc(100% / 12 * 11);
}

.col-lg-offset-11 {
  margin-left: calc(100% / 12 * 11);
}

.col-lg-12 {
  width: calc(100% / 12 * 12);
}

.col-lg-offset-12 {
  margin-left: calc(100% / 12 * 12);
}

@media all and (max-width: 1199px) {
  .col-md-1 {
    width: calc(100% / 12 * 1);
  }

  .col-lg-offset-1 {
    margin-left: calc(100% / 12 * 1);
  }

  .col-md-2 {
    width: calc(100% / 12 * 2);
  }

  .col-lg-offset-2 {
    margin-left: calc(100% / 12 * 2);
  }

  .col-md-3 {
    width: calc(100% / 12 * 3);
  }

  .col-lg-offset-3 {
    margin-left: calc(100% / 12 * 3);
  }

  .col-md-4 {
    width: calc(100% / 12 * 4);
  }

  .col-lg-offset-4 {
    margin-left: calc(100% / 12 * 4);
  }

  .col-md-5 {
    width: calc(100% / 12 * 5);
  }

  .col-lg-offset-5 {
    margin-left: calc(100% / 12 * 5);
  }

  .col-md-6 {
    width: calc(100% / 12 * 6);
  }

  .col-lg-offset-6 {
    margin-left: calc(100% / 12 * 6);
  }

  .col-md-7 {
    width: calc(100% / 12 * 7);
  }

  .col-lg-offset-7 {
    margin-left: calc(100% / 12 * 7);
  }

  .col-md-8 {
    width: calc(100% / 12 * 8);
  }

  .col-lg-offset-8 {
    margin-left: calc(100% / 12 * 8);
  }

  .col-md-9 {
    width: calc(100% / 12 * 9);
  }

  .col-lg-offset-9 {
    margin-left: calc(100% / 12 * 9);
  }

  .col-md-10 {
    width: calc(100% / 12 * 10);
  }

  .col-lg-offset-10 {
    margin-left: calc(100% / 12 * 10);
  }

  .col-md-11 {
    width: calc(100% / 12 * 11);
  }

  .col-lg-offset-11 {
    margin-left: calc(100% / 12 * 11);
  }

  .col-md-12 {
    width: calc(100% / 12 * 12);
  }

  .col-lg-offset-12 {
    margin-left: calc(100% / 12 * 12);
  }
}
@media all and (max-width: 991px) {
  .col-sm-1 {
    width: calc(100% / 12 * 1);
  }

  .col-lg-offset-1 {
    margin-left: calc(100% / 12 * 1);
  }

  .col-sm-2 {
    width: calc(100% / 12 * 2);
  }

  .col-lg-offset-2 {
    margin-left: calc(100% / 12 * 2);
  }

  .col-sm-3 {
    width: calc(100% / 12 * 3);
  }

  .col-lg-offset-3 {
    margin-left: calc(100% / 12 * 3);
  }

  .col-sm-4 {
    width: calc(100% / 12 * 4);
  }

  .col-lg-offset-4 {
    margin-left: calc(100% / 12 * 4);
  }

  .col-sm-5 {
    width: calc(100% / 12 * 5);
  }

  .col-lg-offset-5 {
    margin-left: calc(100% / 12 * 5);
  }

  .col-sm-6 {
    width: calc(100% / 12 * 6);
  }

  .col-lg-offset-6 {
    margin-left: calc(100% / 12 * 6);
  }

  .col-sm-7 {
    width: calc(100% / 12 * 7);
  }

  .col-lg-offset-7 {
    margin-left: calc(100% / 12 * 7);
  }

  .col-sm-8 {
    width: calc(100% / 12 * 8);
  }

  .col-lg-offset-8 {
    margin-left: calc(100% / 12 * 8);
  }

  .col-sm-9 {
    width: calc(100% / 12 * 9);
  }

  .col-lg-offset-9 {
    margin-left: calc(100% / 12 * 9);
  }

  .col-sm-10 {
    width: calc(100% / 12 * 10);
  }

  .col-lg-offset-10 {
    margin-left: calc(100% / 12 * 10);
  }

  .col-sm-11 {
    width: calc(100% / 12 * 11);
  }

  .col-lg-offset-11 {
    margin-left: calc(100% / 12 * 11);
  }

  .col-sm-12 {
    width: calc(100% / 12 * 12);
  }

  .col-lg-offset-12 {
    margin-left: calc(100% / 12 * 12);
  }
}
@media all and (max-width: 767px) {
  .col-xs-1 {
    width: calc(100% / 12 * 1);
  }

  .col-lg-offset-1 {
    margin-left: calc(100% / 12 * 1);
  }

  .col-xs-2 {
    width: calc(100% / 12 * 2);
  }

  .col-lg-offset-2 {
    margin-left: calc(100% / 12 * 2);
  }

  .col-xs-3 {
    width: calc(100% / 12 * 3);
  }

  .col-lg-offset-3 {
    margin-left: calc(100% / 12 * 3);
  }

  .col-xs-4 {
    width: calc(100% / 12 * 4);
  }

  .col-lg-offset-4 {
    margin-left: calc(100% / 12 * 4);
  }

  .col-xs-5 {
    width: calc(100% / 12 * 5);
  }

  .col-lg-offset-5 {
    margin-left: calc(100% / 12 * 5);
  }

  .col-xs-6 {
    width: calc(100% / 12 * 6);
  }

  .col-lg-offset-6 {
    margin-left: calc(100% / 12 * 6);
  }

  .col-xs-7 {
    width: calc(100% / 12 * 7);
  }

  .col-lg-offset-7 {
    margin-left: calc(100% / 12 * 7);
  }

  .col-xs-8 {
    width: calc(100% / 12 * 8);
  }

  .col-lg-offset-8 {
    margin-left: calc(100% / 12 * 8);
  }

  .col-xs-9 {
    width: calc(100% / 12 * 9);
  }

  .col-lg-offset-9 {
    margin-left: calc(100% / 12 * 9);
  }

  .col-xs-10 {
    width: calc(100% / 12 * 10);
  }

  .col-lg-offset-10 {
    margin-left: calc(100% / 12 * 10);
  }

  .col-xs-11 {
    width: calc(100% / 12 * 11);
  }

  .col-lg-offset-11 {
    margin-left: calc(100% / 12 * 11);
  }

  .col-xs-12 {
    width: calc(100% / 12 * 12);
  }

  .col-lg-offset-12 {
    margin-left: calc(100% / 12 * 12);
  }
}
body {
  font-family: "Noto Sans", sans-serif;
  color: #5f6368;
  font-size: 13px;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.txt-uppercase {
  text-transform: uppercase;
}

.txt-capitalize {
  text-transform: capitalize;
}

.mt-15 {
  margin-top: 1.5em;
}

.mt-2 {
  margin-top: 2em;
}

header {
  padding-top: 1em;
  padding-bottom: 0em;
  border-bottom: 1px solid #5f6368;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
}
header nav .container-fluid {
  justify-content: space-between;
  align-items: center;
  font-size: 1.6em;
}
header nav .container-fluid .left {
  align-items: flex-end;
}
header nav .container-fluid .left img {
  margin-right: 5px;
}
header nav .container-fluid .right {
  align-items: center;
}
header nav .container-fluid .right img {
  height: 1em;
}
header nav .container-fluid .right i {
  padding: 5px;
  background-color: #7496FF;
  border-radius: 50%;
  color: #000;
  margin-left: 20px;
}
header .menu {
  font-size: 1.2em;
  font-weight: bold;
}
header .menu ul li {
  margin-right: 30px;
  padding-top: 0;
  padding-bottom: 1em;
}
header .menu ul li.Domande {
  color: #3367D6;
  border-bottom: 3px solid #3367D6;
}

main {
  padding-top: 11.5em;
  padding-bottom: 4em;
}
main h2 {
  margin-top: 60px;
  font-size: 1.8em;
  text-align: justify;
}
main p {
  margin-top: 20px;
  text-align: justify;
}
main ol {
  margin-top: 20px;
}
main ol span {
  margin-left: 1em;
}
main ol li {
  margin-top: 10px;
  margin-left: 1em;
}
main ol li span {
  margin-left: 1em;
}
main ol ol {
  list-style-type: lower-latin;
}

footer {
  background-color: #F5F5F5;
  padding-top: 1em;
  padding-bottom: 1em;
}
footer .container {
  justify-content: space-between;
  align-items: center;
}
footer .container ul {
  font-size: 0.8em;
}
footer .container ul li {
  margin-right: 7.5px;
}
footer .container ul li.dot:after {
  content: "·";
  margin-left: 7.5px;
}
footer .container .right {
  align-items: center;
}
footer .container .right img {
  align-self: flex-end;
  margin-right: 5px;
  position: relative;
  top: 7px;
}
footer .container .right select {
  width: 175px;
}
